<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect </property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/ferd_transformator?autoReconnect=true&amp;useSSL=false</property>
        <!--<property name="connection.url">mysql://127.0.0.1:3306</property>    -->
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost/</property>-->
        <!--<property name="connection.url">jdbc:mysql://127.0.0.1:3306</property>-->

        <property name="connection.username">root</property>
        <property name="connection.password">toor</property>

        <!--<property name="transaction.factory_class">org.hibernate.transaction.jdbc.JDBCTransactionFactory</property>-->

        <!--thread is the short name for org.hibernate.context.ThreadLocalSessionContext and let Hibernate bind the session automatically to the thread-->
        <property name="current_session_context_class">thread</property>

        <!-- necessary in order to store multiple rows without cache problems-->
        <property name="hibernate.jdbc.batch_size">20</property>

        <property name="hibernate.show_sql">false</property>

        <!-- mapping files -->
        <mapping resource="hbm/AccountType.hbm.xml"/>
        <mapping resource="hbm/Account.hbm.xml"/>
        <!--<mapping resource="hbm/AccountingRecord.hbm.xml"/>-->

        <mapping resource="hbm/AccountPosition.hbm.xml"/>
        <mapping resource="hbm/Position.hbm.xml"/>

        <mapping resource="hbm/Country.hbm.xml"/>
        <mapping resource="hbm/CorporateForm.hbm.xml"/>
        <!--<mapping resource="hbm/CountryCorporateForm.hbm.xml"/>-->
        <mapping resource="hbm/Address.hbm.xml"/>
        <mapping resource="hbm/LegalPerson.hbm.xml"/>
        <mapping resource="hbm/Invoice.hbm.xml"/>
        <mapping resource="hbm/Scan.hbm.xml"/>

        <mapping resource="hbm/Keyword.hbm.xml"/>
        <mapping resource="hbm/Creditor.hbm.xml"/>
        <mapping resource="hbm/DocumentCase.hbm.xml"/>
    </session-factory>
</hibernate-configuration>